{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}AirTicket{% endblock %}</title>

    <link rel="stylesheet" href="{% static "bootstrap/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">

    <link rel="icon" type="image/png" href="{% static "favicon/airplane-ticket.png" %}">

</head>
<body>

    {% include "includes/header.html" %}

    {% block content %}{% endblock %}

</body>
</html>
