{% extends 'base.html' %}

{% block content %}
    <div class="container search-ticket-form">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form action="#" method="GET">
                        <div class="form-group m-2">
                            <label for="destination">Destination:</label>
                            <select class="form-control" id="destination" name="destination">
                                <option value="1" class="text-black">Destination 1</option>
                                <option value="2" class="text-black">Destination 2</option>
                                <option value="3" class="text-black">Destination 3</option>
                                <option value="4" class="text-black">Destination 4</option>
                                <option value="5" class="text-black">Destination 5</option>
                            </select>
                        </div>
                        <div class="form-group m-2">
                            <label for="departure_date">Departure Date:</label>
                            <input type="date" class="form-control" id="departure_date" name="departure_date">
                        </div>
                        <div class="form-group m-2">
                            <label for="passenger_count">Passenger Count:</label>
                            <input type="number" class="form-control" id="passenger_count" name="passenger_count" value="1">
                        </div>
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-primary">Search Flights</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
