{% extends 'base.html' %}

{% block content %}
<div class="container container-form">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3>Find Your Tickets</h3>
                    <hr>
                    <form action="{% url 'flight:search' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group m-2">
                            <label for="departure">Departure:</label>
                            <input type="text" class="form-control" id="departure" name="departure_airport" placeholder="Where from?" required>
                        </div>
                        <div class="form-group m-2">
                            <label for="id_arrival_airport">Destination:</label>
                            <input type="text" class="form-control" id="id_arrival_airport" name="arrival_airport" placeholder="Where to?" required>
                        </div>
                        <div class="form-group m-2">
                            <label for="departure_date">Destination Date:</label>
                            <input type="date" class="form-control" id="departure_date" name="departure_date" required>
                        </div>
                        <div class="form-group m-2">
                            <label for="passenger_amount">Passenger Count:</label>
                            <input type="number" class="form-control" id="passenger_amount" name="passenger_amount" value="1" min="1" max="100" required>
                        </div>
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-primary">Search Flights</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
