{% extends 'base.html' %}

{% load static %}
{% load custom_tag %}

{% block title %}My Orders{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                {% include 'customer/includes/sidebar.html' %}
            </div>

            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                {% if orders %}
                    {% for order in orders %}
                        <div class="card mt-2">
                            <div class="card-body row">
                                <div class="col-md-6">
                                    <p>From {{ order.flight.departure_airport.name }} to {{ order.flight.arrival_airport.name }}</p>
                                </div>
                                <div class="col-md-4">
                                    <p class="card-title">Departure Date: {{ order.flight.departure_scheduled }}</p>
                                </div>
                                <div class="col-md-2 d-flex align-items-center">
                                    <a href="{% url 'check_in:check_in' order.id %}" class="btn btn-info">Check In</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="text-center">
                        <h2>There Is Nothing to check in</h2>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
