{% extends 'base.html' %}

{% load static %}

{% block title %}Check in{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/seat.css' %}">

    <div class="container mt-4">
    <h2>From {{ flight.departure_airport }} To {{ flight.arrival_airport }}</h2>
        <p>Departure Date: {{ flight.departure_scheduled }} T/Z: {{ flight.departure_airport.timezone }}</p>
        <p>Arrival Date: {{ flight.arrival_scheduled }} T/Z: {{ flight.arrival_airport.timezone }}</p>
        <div class="card">
            <div class="card-header text-center">
                <h3>{{ flight.airplane }}</h3>
            </div>
            <div class="card-body">
                <div id="seat-map-container" class="text-center mt-2, mb-2">
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/seat_map.js' %}"></script>
{% endblock %}
