{% extends 'base.html' %}

{% load static %}

{% block title %}My Profile{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                {% include 'customer/includes/sidebar.html' %}
            </div>

            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                {% for flight in flights %}
                <div class="card mt-2">
                    <div class="card-body row">
                        <div class="col-md-3">
                            <p>From {{ flight.departure_airport.name }} to {{ flight.arrival_airport.name }}</p>
                        </div>
                        <div class="col-md-7">
                            <p class="card-title">Departure Date: {{ flight.departure_scheduled }} T/Z: {{ flight.departure_airport.timezone }} </p>
                            <p class="card-title">Arrival Date: {{ flight.arrival_scheduled }} T/Z: {{ flight.arrival_airport.timezone }}</p>
                        </div>
                        <div class="col-md-2 d-flex align-items-center">
                            <a href="{% url 'flight:detail' flight.pk %}" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
