{% extends 'base.html' %}

{% load static %}

{% block title %}My Profile{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">

            <div class="col-md-3">
                <div class="card quartz-card bg-secondary text-white">
                    <ul class="list-group list-group-flush no-decoration-link">
                        <li class="list-group-item text-center {% if request.path == '/customer/profile/' %}active{% endif %}"><a href="{% url 'customer:profile' %}">Profile</a></li>
                        <li class="list-group-item text-center"><a href="#" >My Flights</a></li>
                        <li class="list-group-item text-center"><a href="#" >My Orders</a></li>
                        <li class="list-group-item text-center {% if request.path == '/users/change-password/' %}active{% endif %}"><a href="{% url 'users:change_password' %}">Change Password</a></li>
                        <li class="list-group-item text-center"><a href="{% url 'users:logout' %}">Sign Out</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <h4>My Profile</h4>
                    </div>
                    <div class="card-body text-center">
                        <img src="{% static 'images/avatar.png' %}" alt="Avatar" class="rounded-circle mb-3" width="150">
                        <p>Email: {{ user.email }}</p>
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}







{#<div class="row">#}
{#            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">#}
{##}
{#                <div class="sidebar">#}
{#                    <div class="nav-container">#}
{#                        <ul>#}
{#                            <li {% if request.path == '/customer/profile/' %}class="active"{% endif %}>#}
{#                                <a href="#"><i class="icon-dashboard3"></i>Profile</a>#}
{#                            </li>#}
{#                            <li {% if request.path == '/customer/orders/' %}class="active"{% endif %}>#}
{#                                <a href="#"><i class="icon-people"></i>My Orders</a>#}
{#                            </li>#}
{#                            <li {% if request.path == '/users/change-password/' %}class="active"{% endif %}>#}
{#                                <a href="#"><i class="icon-delete"></i>Change password</a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#"><i class="icon-log-out"></i>Sign out</a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{##}
{#            </div>#}
{#            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">#}
{#                Profile#}
{#            </div>#}